<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <div class="container-fluid">
        <div class="login-container">
            <div class="wrapper">
                <div align="middle">

                </div>
                <div class="form-signin">

                    <form method="post" action="/signout">
                        <h2 class="form-signin-heading">Profile</h2>
                        <br>
                        <br>
                        <table>
                            <tr>
                                <th>Name</th>
                                <td>Peyton Puckett</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>ppucket@purdue.edu</td>
                            </tr>
                            <tr>
                                <th>Reserved Rooms</th>
                                <td>Room 1: Date / duration</td>
                            </tr>
                            <tr>
                                <th>Account Type</th>
                                <td>Student / Faculty</td>
                            </tr>
                        </table>
                        <br>
                        <br>
                        <br>
                        <button class="btn btn-lg btn-primary btn-block" id="register_btn">LogOut</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script src="../js/script.js"></script>
</body>

</html>